.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-group-1 {
  min-height: 109px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-2 {
  width: 103px;
  min-height: 81px;
  margin: -31px auto 0 203px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shape-1 {
  width: 99px;
  height: 80px;
  margin: 0 4px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -74px auto 0 6px;
}

.u-section-1 .u-image-1 {
  width: 96px;
  height: 96px;
  background-image: url("images/photo.png");
  background-position: 50% 50%;
  margin: -45px auto 0 100px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
  margin: -84px 0 0 434px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6667em;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 403px;
  min-height: 693px;
  margin: 0 -11px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  margin: 0 302px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 3px 60px 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 16px 271px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 3px 60px 0 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 16px 306px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 3px 60px 0 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 299px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 3px 194px 0 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 60px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 4px 197px 0 0;
  padding: 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 281px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 3px 141px 0 0;
  padding: 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 60px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 3px 60px 0 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 266px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 3px 60px 0 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.625rem;
  margin: 15px 294px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 3px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 713px;
  height: 243px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-list-1 {
  width: 217px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 106px;
  grid-gap: 32px 32px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  margin: -105px 0 0 auto;
}

.u-section-1 .u-list-2 {
  width: 713px;
  grid-template-rows: auto auto auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 5px 5px;
  min-height: 300px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 5px;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-20 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 0 5px;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-21 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 0 5px;
}

.u-section-1 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-22 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-10 {
  padding: 0 5px;
}

.u-section-1 .u-icon-5 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-23 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-11 {
  padding: 0 5px;
}

.u-section-1 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-24 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-12 {
  padding: 0 5px;
}

.u-section-1 .u-icon-7 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-25 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-13 {
  padding: 0 5px;
}

.u-section-1 .u-icon-8 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-26 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-14 {
  padding: 0 5px;
}

.u-section-1 .u-icon-9 {
  height: 32px;
  width: 32px;
  margin: 1px auto 0 8px;
}

.u-section-1 .u-text-27 {
  margin: -28px 68px 0 50px;
}

.u-section-1 .u-list-3 {
  width: 137px;
  margin: -405px 576px 0 24px;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 106px;
  grid-gap: 32px 32px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-28 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-29 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  margin: -105px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 249px;
  height: 90px;
  margin: -97px auto 0 222px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 318px 0 0 auto;
  padding: 5px 269px 5px 268px;
}

.u-section-1 .u-icon-10 {
  vertical-align: 0px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 2px;
    min-height: 122px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 181px;
  }

  .u-section-1 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-1 {
    margin-top: -37px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -91px;
    margin-left: 256px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1592px;
  }

  .u-section-1 .u-group-3 {
    min-height: 1591px;
    width: 238px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 102px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 6px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-right: 102px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 6px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 26px;
    margin-right: 102px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 25px;
    margin-right: 103px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
    margin-right: 138px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 103px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-right: 141px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 26px;
    margin-right: 104px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 26px;
    margin-right: 105px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 26px;
    margin-right: 104px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 26px;
    margin-right: 104px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1592px;
  }

  .u-section-1 .u-image-2 {
    height: 582px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 140px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -113px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 801px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -29px;
    margin-right: 13px;
    margin-left: 61px;
  }

  .u-section-1 .u-list-3 {
    margin-top: -946px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 140px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -113px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -107px;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 845px;
    margin-right: auto;
    padding: 3px 258px 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -96px;
    margin-right: 4px;
    margin-left: 258px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-group-3 {
    min-height: 1039px;
    width: 232px;
    margin-top: -2px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 107px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 142px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 135px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 39px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 61px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 130px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1045px;
  }

  .u-section-1 .u-image-2 {
    height: 381px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 194px;
    margin-top: 4px;
    margin-right: -1px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 105px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: -105px;
  }

  .u-section-1 .u-list-2 {
    width: 480px;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 512px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 13px;
    margin-right: 438px;
  }

  .u-section-1 .u-text-27 {
    margin-top: -41px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-list-3 {
    width: 119px;
    margin-top: -613px;
    margin-left: 4px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 105px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -105px;
    margin-right: 37px;
  }

  .u-section-1 .u-image-3 {
    width: 156px;
    height: 57px;
    margin-top: -81px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 543px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 155px;
    padding-left: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2036px;
  }

  .u-section-1 .u-group-1 {
    min-height: 218px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -30px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 2px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 855px;
  }

  .u-section-1 .u-group-3 {
    min-height: 823px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 362px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 362px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 362px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 362px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 380px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 959px;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
    margin-top: -30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 210px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 14px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 561px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 17px;
    margin-right: 408px;
  }

  .u-section-1 .u-list-3 {
    margin-top: -660px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 218px;
    height: 78px;
    margin-top: -92px;
    margin-left: 129px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 588px;
    padding: 5px 184px 6px 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2216px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 4px;
    min-height: 332px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 400px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-1 .u-group-3 {
    min-height: 627px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 10px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 11px;
    margin-right: 180px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 131px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 11px;
    margin-right: 180px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: 134px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 10px;
    margin-right: 180px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: 78px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 10px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 10px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 10px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1237px;
  }

  .u-section-1 .u-image-2 {
    height: 137px;
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 87px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: -86px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 128px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 770px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-20 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-21 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-22 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-23 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-24 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-25 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-26 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-27 {
    margin-right: -2px;
    margin-left: 43px;
  }

  .u-section-1 .u-list-3 {
    width: 131px;
    margin-top: -984px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 87px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: -86px;
    margin-right: 19px;
  }

  .u-section-1 .u-image-3 {
    height: auto;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 824px;
    padding-right: 114px;
    padding-left: 113px;
  }
}